
@import "tailwindcss";

@layer components {

  .box-border{
    @apply w-full bg-[url("../../../../public/img/wood_txt.jpg")] p-3 rounded-4xl overflow-hidden shadow-2xl;
   }

  .box-board{
    @apply bg-[url("../../../../public/img/board_bg.png")] p-4 rounded-3xl 
    flex justify-end items-end flex-col gap-3;
    box-shadow: inset 0px 0px 18px var(--color-black);
  }

  .interaction-board{
    @apply  w-[200px] flex justify-end p-3 gap-2;
  }

  .interaction-board .btn{
    box-shadow: inset 0 3px 6px rgba(255,255,255,0.4),
              inset 0 -3px 6px rgba(0,0,0,0.3),
              0 4px 6px rgba(0,0,0,0.4);
    @apply text-2xl text-white w-[60px] h-[60px] p-3 rounded-4xl flex justify-center items-center cursor-pointer;
    text-shadow: 0 1px 1px rgba(64, 64, 64, 0.7);

    @apply active:scale-75 transition-transform duration-75 ease-linear;
  }

  .interaction-board .btn.roll{
    @apply bg-green-700 bg-linear-to-b from-green-400 from-20% via-50% via-green-600 to-90% to-green-900;
    @apply border-3 border-green-950;
    @apply disabled:bg-green-700 disabled:from-gray-700 disabled:via-gray-700 disabled:to-gray-700 disabled:pointer-events-none;
  }

  .interaction-board .btn.reset{
    @apply bg-yellow-500 bg-linear-to-b from-yellow-400 from-20% via-50% via-yellow-600 to-90% to-yellow-900;
    @apply border-3 border-yellow-950;
  }

  .box-board .board-dice{
    @apply w-full;
  }

  .board-dice-total{
    @apply  w-[120px] p-2 mt-6 flex gap-2 justify-end;
  }

  .dice-form{
    @apply w-[30px] h-[30px] bg-[url("../../../../public/img/board_bg.png")] rounded-xl;
    box-shadow: inset 2px 2px 10px #000000;
  }

  .box-border .text-board{
    @apply bg-[url("../../../../public/img/board_line.png")] w-full p-3 bg-left bg-cover bg-no-repeat rounded-2xl;
    @apply flex justify-end text-lg font-bold text-white;
    box-shadow: inset 0px 0px 18px var(--color-black);
  }

  .text-roll-front{
    @apply w-full border-2 border-yellow-700 text-2xl rounded-2xl font-bold capitalize
    text-center bg-linear-to-b from-5% from-yellow-300 via-80% via-yellow-500 to-65% to-yellow-600;

    @apply text-yellow-100 text-shadow-2xs text-shadow-yellow-950 inset-shadow-sm inset-shadow-yellow-700;
  }

.list-rolls{
  @apply w-full backdrop-blur-3xl flex flex-col justify-start items-center bg-[#2bff0019] 
  p-3 border-2 border-green-300 gap-3 overflow-y-scroll h-[110px] overflow-x-hidden rounded-2xl;
  @apply 2xl:h-[340px] xl:h-[340px] lg:h-[340px];
  box-shadow: inset 5px 4px 4px var(--color-green-950), inset -3px -3px 4px var(--color-green-950);
}

.list-rolls::-webkit-scrollbar {
  width: 4px;
}

.list-rolls::-webkit-scrollbar-thumb {
  background-color: var(--color-green-700);
  border-radius: 20px;
}

.list-rolls::-webkit-scrollbar-track {
  background: transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.roll-index{
   @apply w-full border-2 border-yellow-50 p-3 backdrop-blur-md bg-[#ffffff24] rounded-2xl shadow-2xs;
}

.icon-dice{
  @apply w-[30px] h-[30px] text-white bg-amber-500 flex relative justify-center items-center rounded-xl p-3;
  box-shadow: inset 0px 2px 3px var(--color-yellow-950);
}

}

@layer utilities{

    .flex-dice{
        @apply flex gap-9 flex-row justify-center items-center p-3;
    }

    .flex-index {
      @apply flex justify-between items-center;
    }

    .board-imp{
      @apply bg-[url("../../../../public/img/board_bg.png")] rounded-xl h-auto w-full p-2;
      box-shadow: inset 0px 0px 18px var(--color-black);
    }

    .text-res {
      @apply 2xl:text-3xl xl:text-3xl lg:text-2xl md:text-lg w-[50%] h-auto 2xl:w-[60%] xl:w-[60%]
    }

    .board-rs{
      @apply bg-cover h-[110px] items-center 2xl:h-[80px] 2xl:text-left;
    }
    
}