
@import "tailwindcss";

/***** Modals General *****/ 

#popup-root .popup-overlay {
   @apply backdrop-blur-lg flex justify-center items-center;
}

.popup-layout{
   @apply bg-white w-[250px] h-auto relative flex flex-col p-6 rounded-2xl border-2 border-red-500/35 gap-5;

   @apply 2xl:w-[620px] xl:w-[520px] lg:w-[540px] md:w-[560px] sm:w-[560px] min-sm:w-[450px];
}

.popup-title{
    @apply w-full flex flex-row items-center justify-between p-2;
}

.popup-title .close-btn{
    @apply w-[30px] h-[30px] bg-red-700 flex justify-center items-center text-sm text-white rounded-sm;
}

.popup-layout .popup-content{
    @apply h-[190px] overflow-y-scroll;
}

.popup-btns{
  @apply w-full flex items-center justify-end gap-2;
}

.popup-btns .btn{
    @apply w-full bg-gray-500 capitalize p-2 font-bold 
    text-sm rounded-2xl text-white cursor-pointer;
}

.popup-btns .btn.confirm{
  @apply bg-red-600;
}

.popup-btns .btn.return{
  @apply bg-gray-400;
}

#logo-modal{
   @apply rotate-[20deg] w-[50px] h-[60px] absolute left-[-20px] top-[-3px];

   @apply 2xl:w-[120px] 2xl:h-[120px] xl:w-[51px] xl:h-[80px];
}

#logo-modal img:nth-of-type(1){
   @apply drop-shadow-lg drop-shadow-black max-w-full h-auto z-10;

   @apply 2xl:top-1 2xl:right-3 xl:top-0 xl:right-3 xl:-left-6;
}

#logo-modal img:nth-of-type(2){
   @apply content-none w-[40px] h-auto absolute scale-200 right-[3px] top-[5px] -z-10 animate-spin;
   animation-duration: 10s;
   @apply 2xl:w-[100px] 2xl:h-[100px] xl:w-[50px] xl:h-auto;
}

#popup-welcome.fade-in{
   animation-name: Open-Window;
   animation-duration: 2s;
   animation-timing-function: ease-in-out;
}

#popup-welcome.fade-out{
   animation-name: Open-Window;
   animation-duration: 2s;
   animation-direction: reverse;
   animation-timing-function: ease-in-out;
}

#modal.fade-in{
   animation-name: Modal-Animation;
   animation-duration: 1s;
   animation-direction: normal;
   animation-timing-function: ease-in-out;
}

.container-pop{
   @apply w-[290px] fixed h-auto rounded-2xl overflow-hidden p-3 backdrop-blur-2xl border-2 border-white shadow-2xl shadow-black
   bg-white/10 bottom-0 right-0 m-10 z-20 flex justify-center items-center;
}

.container-pop .pop-con{
   @apply flex justify-between w-full items-center flex-row text-sm font-bold gap-2;
}

.container-pop .pop-con .btn-pop{
   @apply bg-red-700 p-2 w-8 text-white h-8 text-sm cursor-pointer active:bg-red-500
   rounded-xl text-center flex justify-center items-center;
}

.container-pop.pop-ani{
   animation-name: Popup-Opening;
   animation-duration: 10s;
   animation-direction: normal;
   animation-timing-function: ease-in-out;
}

@keyframes Open-Window {
   0% {
      transform: translateY(-200px);
      filter: opacity(0%);
   }

   100% {
      transform: translateY(0px);
      filter: opacity(100%);
   }
}

@keyframes Popup-Opening {
   0% { right: -1200px; }
   10% { transform: skew(20deg, 0deg); }
   15% { right: 0px; }
   18% { transform: skew(1.2deg, 1.2deg); }
   20% { transform: skew(1.0deg, 1.2deg); }
   25% { transform: skew(0.1deg, 0.8deg); }
   30% { transform: skew(0.1deg, 0.1deg); }
   40% { transform: skew(0deg, 0deg); }
}

@keyframes Modal-Animation { 
  0%   { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { transform: matrix3d(0.408, 0, 0, 0, 0, 0.54, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { transform: matrix3d(1.094, 0, 0, 0, 0, 1.328, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100%  { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

/***** End Modals General *****/

/***** Bonus Banner Class *****/

.container-support {
   @apply h-full absolute z-50 p-4;
}

.bonus-sc{
   @apply w-[70%] h-[400px] flex items-center justify-center relative flex-col;
}

.container-banner{
   @apply w-[500px] h-[300px] bg-no-repeat bg-center bg-size-[390px];
}

.container-banner.bonus-1{
   @apply bg-[url("../../../../public/img/Bonus_1.png")];
}

.container-banner.bonus-2{
   @apply bg-[url("../../../../public/img/Bonus_2.png")];
}

.container-banner.bonus-3{
   @apply bg-[url("../../../../public/img/Bonus_3.png")];
}

.container-banner.bonus-4{
   @apply bg-[url("../../../../public/img/Bonus_4.png")];
}

.bonus-sc .btn{
   @apply w-[100px] h-auto bg-amber-50 text-center cursor-pointer
   rounded-2xl p-2 shadow-2xl shadow-red-950 capitalize;
}

.bonus-sc .btn.exit{
   @apply bg-gradient-to-b from-10% from-yellow-300/80 via-70% text-xl font-bold text-yellow-700 text-shadow-2xs
   via-yellow-300 to-95% to-yellow-600 border-2 border-yellow-300/55;
}

.bonus-sc .btn:active{
   @apply scale-75 text-white;
}

.container-banner.open-ani{
   animation-name: Alert-Open;
   animation-duration: 7s;
   animation-direction: normal;
   animation-timing-function: ease-out;
}

.bonus-light.open-ani{
   animation-name: Light-Expansion;
   animation-duration: 7s;
   animation-direction: normal;
   animation-timing-function: ease-out;
}

.container-banner.close-ani{
   animation-name: Alert-Close;
   animation-duration: 7s;
   animation-direction: normal;
   animation-timing-function: ease-in-out;
}

.container-support.open{
   @apply opacity-100 bg-black/40 transition-all duration-100 ease-in;
}

.container-support.close{
   display: none;
   animation-name: Alert-Close;
   animation-duration: 2s;
   animation-direction: normal;
   animation-timing-function: ease-in;
}

.bonus-light{
   @apply h-[300px] absolute top-0 bg-[url("../../../../public/img/bg_retro_bonus.png")]
   bg-no-repeat bg-center bg-size-[590px] -z-10 mt-9;

   @apply max-sm:w-[320px] sm:w-[400px] md:w-[600px];
}

@keyframes Alert-Open {
   0% { filter: opacity(0); transform: scale(0, 0); }
   10% { filter: opacity(10); transform: scale(0.4, 0.4); }
   20% { filter: opacity(50); transform: scale(0.9, 0.9); }
   40% { filter: opacity(50); transform: scale(0.9, 0.9); }
   100% { filter: opacity(100); transform: scale(1, 1); }
}

@keyframes Light-Expansion {
   0% { filter: opacity(0); transform: scale(0, 0); }
   40% { filter: opacity(50); transform: scale(0.10, 0.10); }
   50% { filter: opacity(50); transform: scale(1.1, 1.1); }
   70% { filter: opacity(50); transform: scale(1.9, 1.9); }
   80% { filter: opacity(50); transform: scale(1.11, 1.11); }
   90% { filter: opacity(50); transform: scale(1.20, 1.20); }
   90.1% { filter: opacity(50); transform: scale(1.30, 1.30); }
   90.1% { filter: opacity(50); transform: scale(1.10, 1.10); }
   100% { filter: opacity(100); transform: scale(1, 1); }
}

@keyframes Alert-Close {
   0% { filter: opacity(100); transform: scale(1, 1); }
   10% { filter: opacity(20); transform: scale(1.2, 1.2); }
   20% { filter: opacity(60); transform: scale(1.4, 1.4); }
   30% { filter: opacity(50); transform: scale(1.9, 1.9); }
   100% { filter: opacity(0); transform: scale(2, 2); }
}

@keyframes Background-Hidden {
   0% { filter: opacity(100%); }
   70% { filter: opacity(90%); }
   100% { filter: opacity(0%); }
}

/***** End Bonus Banner Class *****/
