
@import "tailwindcss";

/***** CSS Style Base *****/ 

@theme default {

  --font-lexend: "Lexend", sans-serif;
  --font-montserrant: "Montserrat", sans-serif;
  --font-varela: "Varela Round", sans-serif;
  --color-primary: #3B82F6;
  --color-secondary: #FACC15;
  --color-accent: #22C55E; 

  /* Colori di stato */
  --color-win: #16A34A;
  --color-lose: #DC2626;
  --color-draw: #6B7280;

  /* Sfondo e testo */
  --color-bg: #111827;
  --color-bg-light: #1F2937;
  --color-text: #F3F4F6; 
  --color-text-muted: #9CA3AF;

}

@layer base {
  
  #root{
    @apply h-screen w-screen backdrop-blur-xs;
  }

  body {
    @apply h-auto flex items-start justify-start bg-[url(../public/img/bg_site.png)] bg-cover;
  }
}

/***** End CSS Style Base *****/


@layer components {

   /***** SideBar Style *****/ 
   
   .slidebar-sc{
    @apply w-[620px] h-screen flex flex-col items-center justify-start border-b-3 border-b-red-600;
    background-color: var(--color-bg);
    font-family: var(--font-lexend);
   }

   .container-side .icon-sidebar{
     @apply bg-red-500 z-20 w-[19px] h-[19px] p-5 flex justify-center items-center 
     rounded-se-2xl rounded-br-2xl cursor-pointer;
   }

   .container-side .icon-brand{
    @apply bg-red-500 w-[70px] h-[70px] flex items-center justify-center p-4 rounded-2xl mt-7 mb-7;
   }

   .sidebar-col{
    @apply w-full bg-red-700 text-lg text-white font-bold cursor-pointer;
   }

   .drop-list{
    @apply w-full flex flex-col text-center;
   }

   .front-col{
     @apply flex flex-row justify-center items-center text-sm font-bold w-full p-2 hover:bg-red-600 
    transition-all duration-300;
   }

   .sidebar-col .front-col .text-front{
    @apply w-[90%] flex justify-between items-center p-1;
   }

   .drop-menu{
    @apply w-full flex-col h-0 justify-center overflow-hidden transition-all duration-300;
   }

   .drop-menu.open{
    @apply h-[134px] transition-all duration-300;
   }

   .drop-menu li{
    @apply w-full flex justify-start items-center text-[13px] p-2 border-l-6 border-l-yellow-500 hover:bg-red-600;
    font-family: var(--font-montserrant);
   }

   /***** End SideBar Style *****/
   
}

@layer utilities {

  .icon{
    @apply w-[34px] h-[34px] text-lg p-0.5 text-white flex items-center justify-center;
  }

  .icon-max {
    @apply w-[60px] h-[60px] text-3xl p-0.5 text-white flex items-center justify-center;
  }

  .container-side{
    @apply w-[270px] h-screen fixed top-0 left-0 flex flex-row-reverse transition-all duration-200;
  }

  .container-side.close{
    @apply left-[-230px];
  }

}