
@import "tailwindcss";

/***** CSS Style Base *****/ 

@theme default {

  --font-lexend: "Lexend", sans-serif;
  --font-montserrant: "Montserrat", sans-serif;
  --font-varela: "Varela Round", sans-serif;
  --font-love-ya: "Love Ya Like A Sister";
  --color-primary: #3B82F6;
  --color-secondary: #FACC15;
  --color-accent: #22C55E; 

  /* Colori di stato */
  --color-win: #16A34A;
  --color-lose: #DC2626;
  --color-draw: #6B7280;

  /* Sfondo e testo */
  --color-bg: #111827;
  --color-bg-light: #1F2937;
  --color-text: #F3F4F6; 
  --color-text-muted: #9CA3AF;

}

@layer base {
  
  #root{
    @apply min-h-lvh w-full backdrop-blur-xs flex items-start justify-center;
  }

  body {
    @apply min-h-lvh w-full flex items-start justify-start bg-[url(../public/img/bg_site.png)] bg-cover bg-no-repeat;
  }
}

/***** End CSS Style Base *****/


@layer components {
   
   .slidebar-sc{
    background-color: var(--color-bg);
    font-family: var(--font-lexend);
   }

   .drop-menu li{
    font-family: var(--font-montserrant);
   }

   .footer-sc{
    @apply w-full bg-[#bababa57] h-auto flex flex-row p-2 gap-3;
    font-family: var(--font-lexend);

    @apply justify-start items-center text-white font-bold text-lg
    backdrop-blur-2xl backdrop-saturate-50 border-t-2 border-t-white/15;
   }

   .main-sc{
    @apply flex flex-col w-full justify-between items-center h-auto
    2xl:justify-between xl:justify-between gap-4 relative;
   }

   .footer-logo{
    @apply w-[70px] h-[70px] bg-[url("./../public/img/logo_3.png")] bg-contain bg-no-repeat;
    @apply 2xl:w-[70px] 2xl:h-[70px] lg:w-[50px] lg:h-[50px];
   }

   .text-board, .roll-index h4{
    font-family: var(--font-love-ya);
   }
   .text-roll-front, .icon-dice{
    font-family: var(--font-montserrant);
   }
   .popup-layout{
    font-family: var(--font-lexend);
   }
   .start-screen{
    font-family: var(--font-lexend);
   }
   .list-index, .row-text, .row-empty{
    font-family: var(--font-lexend);
   }

  .loading-ls{
    @apply w-[60%] flex items-center justify-center 
    flex-col font-bold text-3xl capitalize text-white h-screen;
    font-family: var(--font-lexend);
   }

   .staics-page .points-player-window .window-cont .col-window-sc,.staics-page .points-player-window .window-cont .col-medium-rs{
    font-family: var(--font-lexend);
   }

   .text-board, .roll-index h4{
    font-family: var(--font-love-ya);
   }

   .text-roll-front, .icon-dice{
    font-family: var(--font-montserrant);
   }

   .popup-layout{
    font-family: var(--font-lexend);
   }

   .start-screen{
    font-family: var(--font-lexend);
   }

   .list-index, .row-text, .row-empty{
    font-family: var(--font-lexend);
   }

   .loading-ls{
    @apply w-[60%] flex items-center justify-center 
    flex-col font-bold text-3xl capitalize text-white h-screen;
    font-family: var(--font-lexend);
   }

   .staics-page .points-player-window .window-cont .col-window-sc, 
   .staics-page .points-player-window .window-cont .col-medium-rs, 
   .col-stat .row-icon, .container-pop .pop-con{
    font-family: var(--font-lexend);
   }
   
}

@layer utilities {

  .icon{
    @apply w-[44px] h-[44px] text-lg p-0.5 text-white flex items-center justify-center;
  }

  .icon-max {
    @apply w-[60px] h-[60px] text-3xl p-0.5 text-white flex items-center justify-center;
  }

  .container-side{
    @apply h-full z-50 fixed top-0 left-0 flex justify-end
    flex-row-reverse transition-all duration-200 w-[100%] bg-white/29 backdrop-blur-md;
  }

  .container-side.close{
    @apply left-[-230px] w-[270px] bg-transparent backdrop-blur-none;
  }

  .debug-box{
    @apply border-2 border-red-950;
  }

  .container-md{
    @apply max-sm:w-[100%] sm:w-[60%] md:w-[60%] lg:w-[60%] xl:w-5xl 2xl:w-5xl h-auto;
  }

  .flex-box{
    @apply flex flex-col items-center justify-center;
  }

  .gap-col-x2{
    @apply gap-3 flex flex-col 2xl:flex-row xl:flex-row lg:flex-row;
  }

  .container-full{
    @apply w-full min-h-dvh flex;
  }

  .container-lg {
    @apply max-sm:w-full sm:w-[69%] md:w-[59%] lg:w-[47%] xl:w-[50%] 2xl:w-[50%];
  }

  .container-xl{
    @apply max-sm:w-[100%] sm:w-[100%] md:w-[99%] lg:w-[100%] xl:w-[90%] 2xl:w-[90%];
  }

}
